spring:
  datasource:
    url: jdbc:mysql://localhost:3306/incident_db
    username: root
    password: root123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


  data:
    redis:
      host: localhost
      port: 6379
      
      
server:
  port: 8080
